# Archivos de IntelliJ IDEA
.idea/

# Archivos de Visual Studio Code
.vscode/

# Directorios generados por Maven
target/

# Archivos temporales de compilación
*.log
*.class

# JUnit report files
test-outputs/